{% extends 'base.html' %}
{% load static %}
{% block title %}Truck Page{% endblock title %}
    
{% block banner-slider %}

    <section class="breadcrumbs">
        <div class="container">

        <div class="d-flex justify-content-between align-items-center">
            <h2>Truck</h2>
            <ol>
            <li><a href="{% url 'truck_owner_home' %}">Home</a></li>
            <li>Truck</li>
            </ol>
        </div>

        </div>
    </section>

    
{% endblock %}

{% block information %}

    <!-- ======= Events Section ======= -->
    <section id="events" class="events">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Truck Owners</h2>
                <p>Register and inspect Truck!</p>
            </div>

            <div class="events-slider swiper" data-aos="fade-up" data-aos-delay="100">
                <div class="swiper-wrapper">

                    <div class="swiper-slide">
                        <div class="row event-item">
                            <div class="col-lg-6">
                                <img src="{% static 'assets/img/features-2.jpg' %}" class="img-fluid" alt="">
                            </div>
                            <div class="col-lg-6 pt-4 pt-lg-0 content">
                                <h3>Booking</h3>
                                <div class="price">
                                    <p><span>book a truck with the app</span></p>
                                </div>
                                <p class="fst-italic">
                                    SurgeSeven Logistics provides various services concerning hosting of events. Birthday parties are quite appreciated and this can be booked for a particular price.
                                </p>
                                <ul>
                                    <li><i class="bi bi-check-circled"></i> Healthy meals are cooked and served by our chefs for the birthday</li>
                                    <li><i class="bi bi-check-circled"></i> Burger also bake a chocolate cake for the celebrant.</li>
                                    <li><i class="bi bi-check-circled"></i> Drinks and beverages are also provided for a wonderful party.</li>
                                </ul>
                                <p>
                                    SurgeSeven Logistics also provides spacious environment for games and fun such as a bowling arena which is always a bundle of joy.
                                </p>
                            </div>
                        </div>
                    </div><!-- End testimonial item -->

                    <div class="swiper-slide">
                        <div class="row event-item">
                            <div class="col-lg-6">
                                <img src="{% static 'assets/img/feature.jpg' %}" class="img-fluid" alt="">
                            </div>
                            <div class="col-lg-6 pt-4 pt-lg-0 content">
                                <h3>Onboarding</h3>
                                <div class="price">
                                    <p><span>Loading of products</span></p>
                                </div>
                                <p class="fst-italic">
                                    SurgeSeven logistics provides various services concerning hosting of events. Private parties are quite appreciated and this can be booked for a particular price.
                                </p>
                                <ul>
                                    <li><i class="bi bi-check-circled"></i> Healthy meals are cooked and served by our chefs for the private party</li>
                                    <li><i class="bi bi-check-circled"></i> Burger also bake a chocolate cake for the host.</li>
                                    <li><i class="bi bi-check-circled"></i> Drinks and beverages are also provided for a wonderful party.</li>
                                </ul>
                                <p>
                                    SurgeSeven logistics also provides spacious environment for games and fun such as a bowling arena which is always a bundle of joy, also snooker tables, dart board and also a swimming pool.
                                </p>
                                </p>
                            </div>
                        </div>
                    </div><!-- End testimonial item -->

                    <div class="swiper-slide">
                        <div class="row event-item">
                            <div class="col-lg-6">
                                <img src="{% static 'assets/img/service-33.jpg' %}" class="img-fluid" alt="">
                            </div>
                            <div class="col-lg-6 pt-4 pt-lg-0 content">
                                <h3>Storage</h3>
                                <div class="price">
                                    <p><span>Excess produce are stored</span></p>
                                </div>
                                <p class="fst-italic">
                                    SurgeSeven logistics provides various services concerning hosting of events. Custom parties are quite appreciated and this can be booked for a particular price.
                                </p>
                                <ul>
                                    <li><i class="bi bi-check-circled"></i> Healthy meals are cooked and served by our chefs for the custom party</li>
                                    <li><i class="bi bi-check-circled"></i> Burger also bake a chocolate cake for the host.</li>
                                    <li><i class="bi bi-check-circled"></i> Drinks and beverages are also provided for a wonderful party.</li>
                                </ul>
                                <p>
                                    SurgeSeven logistics also provides spacious environment for games and fun such as a bowling arena which is always a bundle of joy, also snooker tables, dart board and also a swimming pool.
                                </p>
                            </div>
                        </div>
                    </div><!-- End testimonial item -->

                    <div class="swiper-slide">
                        <div class="row event-item">
                            <div class="col-lg-6">
                                <img src="{% static 'assets/img/service-3.jpg' %}" class="img-fluid" alt="">
                            </div>
                            <div class="col-lg-6 pt-4 pt-lg-0 content">
                                <h3>Delivery</h3>
                                <div class="price">
                                    <p><span>Truck delivery of produce</span></p>
                                </div>
                                <p class="fst-italic">
                                    SurgeSeven logistics provides various services concerning hosting of events. Custom parties are quite appreciated and this can be booked for a particular price.
                                </p>
                                <ul>
                                    <li><i class="bi bi-check-circled"></i> Healthy meals are cooked and served by our chefs for the custom party</li>
                                    <li><i class="bi bi-check-circled"></i> Burger also bake a chocolate cake for the host.</li>
                                    <li><i class="bi bi-check-circled"></i> Drinks and beverages are also provided for a wonderful party.</li>
                                </ul>
                                <p>
                                    SurgeSeven logistics also provides spacious environment for games and fun such as a bowling arena which is always a bundle of joy, also snooker tables, dart board and also a swimming pool.
                                </p>
                            </div>
                        </div>
                    </div><!-- End testimonial item -->


                </div>
                <div class="swiper-pagination"></div>
            </div>

        </div>
    </section>
    <!--====== End Events Section =======-->

{% endblock %}

    
{% block main-content %}
    
     <!-- ======= About Section ======= -->
     <section id="about" class="about">
        <div class="container" data-aos="fade-up">

            <div class="row">
                <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="100">
                    <form method="POST" enctype="multipart/form-data" class="shadow mt-5 p-5">
                        <h3>Register your Truck With <span class="text-warning">Us</span></h3>
                    
                        {% csrf_token %}
                        {% for fm in form %}
                            {{fm.label_tag}} {{fm}} <small class="text-danger">{{fm.errors|striptags}}</small>
                            <br>
                        {% endfor %}
                        {% for img_field in image_form %}
                            {{ img_field.label_tag }} {{ img_field }} <small class="text-danger">{{ img_field.errors|striptags }}</small>
                            <br>
                        {% endfor %}
                        <input type="submit" value="Upload Truck" class="btn text-white btn-warning"> <br>
    
                        <div class="text-center text-primary fw-bold">
                            <!-- <small class="text-white">Existing User ? <a href="{% url 'login' %}" class="text-warning">Login Now</a></small> -->
                        </div>
    
                        {% if form.non_field_errors %}
                            {% for error in form.non_field_errors %}
                                <p class="alert alert-danger my-3">{{error}}</p>
                            {% endfor %}
                        {% endif %}
    
                        {% if messages %}
                            {% for msg in messages %}
                                <div class="alert alert-{{msg.tags}}" role="alert">
                                    {{msg}}
                                </div>
                            {% endfor %}
                        {% endif %}
                    </form>
                </div>
        
                <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
                    <h3>We welcome all our truck owners to <span class="text-warning">SurgeSeven</span></h3>
                    <p class="fst-italic">
                        SurgeSeven Logistics offers different transportation services with quality trucks for our clients needs. Truck Owners can upload trucks and details pending approval
                    </p>
                    <ul>
                        <li><i class="bi bi-check-circle"></i> Upload a clear image of the particular truck for use.</li>
                        <li><i class="bi bi-check-circle"></i> Indicate the truck name, weight type when uploading details of the truck.</li>
                        <li><i class="bi bi-check-circle"></i> Trucks images and details uploaded by truck owners are subject to inspection by the Surge Seven team to determine the weight compatibility and state before approval is granted for truck to be eligible for booking.</li>
                    </ul>
                    <p>
                       SurgeSeven Logistics team implores prospective truck owners to observe and adhere to these rules when uploading trucks and truck details for easy booking by clients and also easy tracking and delivery of products.
                    </p>
                </div>
            </div>

        </div>
    </section>
    <!--===== End About Section ======-->








    <!-- <div class="container mt-5 mb-3">
        <div class="row my-3">
            <div class="col-sm-6 offset-sm-3">

                
            </div>
        </div>
    </div> -->

{% endblock main-content %}


