{% extends 'base.html' %}
{% load static %}
{% block title %}HomePage{% endblock title %}

{% block banner-slider %}

<section class="breadcrumbs">
    <div class="container">

      <div class="d-flex justify-content-between align-items-center">
        <h2>About Us</h2>
        <ol>
          <li><a href="#">Home</a></li>
          <li>About</li>
        </ol>
      </div>

    </div>
</section>


<!-- ======= About Section ======= -->
<section id="about1" class="about1">
    <div class="container" data-aos="fade-up">

        <div class="section-header">
            <h2>About Us</h2>
            <p>Learn More <span>About Us</span></p>
        </div>

        <div class="row gy-4">
            <div class="col-lg-7 position-relative about-img" style="background-image: url({% static './assets/img/b4.jpg' %}) ;" data-aos="fade-up" data-aos-delay="150">
                <div class="call-us position-absolute">
                    <h4>Book a Truck</h4>
                    <p>0814 393 2604</p>
                </div>
            </div>
        
            <div class="col-lg-5 d-flex align-items-end" data-aos="fade-up" data-aos-delay="300">
                <div class="content ps-0 ps-lg-5">
                    <p class="fst-italic">
                        
                        With SURGE SEVEN Logistics, you can trust that your goods are in good hands. Our team is dedicated to providing reliable, transparent, and secure transportation services that meet your needs.
                    </p>
                    
                    <ul>
                        <li><i class="bi bi-check2-all"></i> Seasoned professionals with extensive experience in haulage and transportation.</li>
                        <li><i class="bi bi-check2-all"></i> Skilled developers and engineers who maintain and improve our mobile application.</li>
                        <li><i class="bi bi-check2-all"></i>  Friendly and responsive representatives who prioritize customer satisfaction.</li>
                    </ul>
                    <p>
                        Our team at SURGE SEVEN Logistics consists of experienced professionals dedicated to delivering exceptional services. With expertise in logistics, technology, and customer service, we're committed to setting new standards in the industry.
                    </p>

                    <div class="position-relative mt-4">
                        <img src="{% static 'assets/img/service-44.jpg' %}" class="img-fluid" alt="">
                        <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox play-btn"></a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    </section><!-- End About Section -->

{% endblock %}

{% block information %}

    <!-- ======= Why Us Section ======= -->
    <section id="why-us1" class="why-us1 section-bg">
        <div class="container" data-aos="fade-up">

            <div class="row gy-4">

                <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
                    <div class="why-box1">
                        <h3>Why Choose SurgeSeven?</h3>
                        <p>
                            At SURGE SEVEN Logistics, we're revolutionizing the agro commodity trade industry with our cutting-edge haulage system. Our innovative mobile 
                            application provides a seamless platform for companies to book trucks, track shipments, and ensure transparency and efficiency in the transportation process. 
                            With a strong focus on customer satisfaction and security, we offer comprehensive insurance coverage for goods in transit, giving our clients peace of mind.
                        </p>
                        <div class="text-center">
                            <a href="#" class="more-btn1">Learn More <i class="bx bx-chevron-right"></i></a>
                        </div>
                    </div>
                </div><!-- End Why Box -->

                <div class="col-lg-8 d-flex align-items-center">
                    <div class="row gy-4">

                        <div class="col-xl-4" data-aos="fade-up" data-aos-delay="200">
                            <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                                <i class="bi bi-clipboard-data"></i>
                                <h4>Seamless Logistics Solutions</h4>
                                <p> Our mobile application allows clients to schedule and monitor shipments in real-time, ensuring transparency and efficiency.</p>
                            </div>
                        </div><!-- End Icon Box -->

                        <div class="col-xl-4" data-aos="fade-up" data-aos-delay="300">
                            <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                                <i class="bi bi-gem"></i>
                                <h4>Comprehensive Insurance Coverage</h4>
                                <p>We provide peace of mind with comprehensive insurance coverage for goods in transit.</p>
                            </div>
                        </div><!-- End Icon Box -->

                        <div class="col-xl-4" data-aos="fade-up" data-aos-delay="400">
                            <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                                <i class="bi bi-inboxes"></i>
                                <h4>Reliable and Efficient</h4>
                                <p>Our haulage system optimizes logistics operations and enhances overall trade experiences.</p>
                            </div>
                        </div><!-- End Icon Box -->

                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Why Us Section -->


{% endblock %}

{% block main-content %}

    <!-- ======= Stats Counter Section ======= -->
    <section id="stats-counter" class="stats-counter">
        <div class="container" data-aos="zoom-out">

            <div class="row gy-4">

                <div class="col-lg-3 col-md-6">
                    <div class="stats-item text-center w-100 h-100">
                        <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>
                        <p>Bookings</p>
                    </div>
                </div><!-- End Stats Item -->

                <div class="col-lg-3 col-md-6">
                    <div class="stats-item text-center w-100 h-100">
                        <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1" class="purecounter"></span>
                        <p>Delivery</p>
                    </div>
                </div><!-- End Stats Item -->

                <div class="col-lg-3 col-md-6">
                    <div class="stats-item text-center w-100 h-100">
                        <span data-purecounter-start="0" data-purecounter-end="1453" data-purecounter-duration="1" class="purecounter"></span>
                        <p>Insurance Coverage</p>
                    </div>
                </div><!-- End Stats Item -->

                <div class="col-lg-3 col-md-6">
                    <div class="stats-item text-center w-100 h-100">
                        <span data-purecounter-start="0" data-purecounter-end="32" data-purecounter-duration="1" class="purecounter"></span>
                        <p>Tracking</p>
                    </div>
                </div><!-- End Stats Item -->

            </div>

        </div>
    </section><!-- End Stats Counter Section -->



{% endblock %}